{%- assign figures = include.objectid | split: ";" %}
{%- assign figcount = figures | size -%}
{%- assign captions = include.caption | split: ";" %}
{%- assign alts = include.alt | split: ";" -%}
{%- assign links = include.link | split: ";" -%}


<div class="about-narrowed-content">
    {% for i in figures %}
    {% if i contains "/" %}
        {%- capture image_src -%}{{ i | relative_url }}{%- endcapture -%}
        {%- capture image_caption -%}{{ captions[forloop.index0] }}{%- endcapture -%}
        {%- capture image_alt -%}{{ alts[forloop.index0] }}{%- endcapture -%}
        {%- capture image_link -%}{{ links[forloop.index0] | default: image_src }}{%- endcapture -%}
    {% else %}
        {%- assign figure = site.data[site.metadata] | where: "objectid", i | first -%}
        {%- capture image_link -%}{{ '/items/' | relative_url }}{% if figure.parentid %}{{ figure.parentid }}.html#{{ figure.objectid }}{% else %}{{ figure.objectid }}.html{% endif %}{% endcapture %}
        {%- capture image_caption -%}{{ captions[forloop.index0] | default: figure.title }}{%- endcapture -%}
        {%- capture image_alt -%}{{ alts[forloop.index0] | default: figure.image_alt_text | default: figure.description | default: figure.title }}{%- endcapture -%}
        {%- capture image_src -%}{{ figure.image_small | default: figure.object_location | relative_url }}{% endcapture %}
        {%- capture image_src_lg -%}{% if figure.display_template contains "pdf" %}{{ figure.image_small | relative_url }}{% else %}{{ figure.object_location | relative_url }}{% endif %}{% endcapture %}
    {% endif %}
    <figure class="figure mx-4{% if include.width %} feature-w-{{ include.width }}{% endif %} feature-float-{{ include.float }}">
        <a class="spotlight gallery-img" data-download="false" href="{{ image_src_lg }}">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image_src }}" alt="{{ image_alt | default: image_caption | escape }}" class="figure-img img-fluid rounded lazyload">
        </a>
        {% unless include.caption == false %}<figcaption class="figure-caption text-center">{% if i contains "/" %}{{ image_caption }}{% else %}<a class="spotlight gallery-img" data-download="false" href="{{ image_link }}">{{ image_caption }}</a>{% endif %}</figcaption>{% endunless %}
    </figure>{% endfor %}
</div>