<nav class="navbar navbar-expand-lg {{ site.data.theme.navbar-color | default: 'navbar-dark' }} {{ site.data.theme.navbar-background | default: 'bg-dark' }}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if site.organization-logo-nav %}<span class="d-lg-none text-end">
            <a href="{{ site.organization-link }}" target="_blank" rel="noopener" class="position-absolute top-0 end-0 p-3 liblogo-corner bg-dark bg-opacity-75">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
            </a>
        </span>{% endif %}
        
        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav me-auto">
                {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.display_name and item.dropdown_parent == nil' -%} 
                {% for nav in navItems %}
                {% if nav.display_name == "Home" %}
                <li class="nav-item px-2">
                    <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for e in site.exhibit %}
                <li class="nav-item px-2">
                    <a class="nav-link{% if page.url == e.url %} active{% endif %}" href="{{ e.url | relative_url }}">{{ e.nav-title }}</a>
                </li>
                {% endfor %}
                <!--temporarily remove theme pages-->
                <!--<li class="nav-item dropdown">  
                    {%- assign themeStubs = site.themes | map: 'url' -%}
                    <a class="nav-link dropdown-toggle{% if themeStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Themes</a>
                    <div class="dropdown-menu">
                        {% for t in site.themes %}
                        <a class="dropdown-item {% if page.url == t.url %}active{% endif %}" href="{{ t.url | relative_url }}">{{ t.title }}</a>
                        {% endfor %}
                    </div>
                </li>-->
                {% for nav in navItems %}
                {% unless nav.stub %}
                <li class="nav-item dropdown px-2">
                    {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                    {%- assign childStubs = navChildren | map: 'stub' -%}
                    <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                    <div class="dropdown-menu">
                        {% for c in navChildren %}
                        <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endunless %}
                {%- endfor -%}
                {% for nav in navItems %}
                {% if nav.stub %}{%- unless nav.display_name == "Home" -%}
                <li class="nav-item px-2">
                    <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                </li>
                {% endunless %}{% endif %}
                {%- endfor -%}
            </ul>
            
            
        </div>
    </div>
</nav>
