/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// exhibit styles
.exhibit-title {
    margin-top: 8rem;
    margin-bottom: 2rem;
}
.next-buttons {
    margin-top: 3rem;
    margin-bottom: 10rem;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.liblogo-corner {
    border-bottom-left-radius: .25rem;
}
.liblogo-corner img{ height: 40px; }

@media screen and (max-width: 1024px) {
    .liblogo-corner img{ max-height: 1.5em; }
}

h1, .merriweather {
    font-family: 'Merriweather';
}

.quote-callout {
  text-align: center;
  font-size: 2em;
  color: #C8102EEE;
  font-style: italic;
  margin-top: 2em;
}
.responsive-iframe-container {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.responsive-iframe-container iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  border: none;
}